[2020-09-25 04:13] monizb opened #2 "Revamp Login Page"
Revamp the entire Login Page to look much better and make it more intuitive, The only requirement is you need to know basic React and CSS.

[2020-09-25 04:15] monizb opened #3 "Revamp the dashboard"
Revamp the design for the entire dashboard and make everything look pixel perfect and more clean. Requires basic knowledge of React and CSS.

[2020-09-25 04:19] monizb opened #4 "Add Signup Feature and Change Database Structure to hold data accordingly"
Feel free to work on the signup part where multiple users can register and have their own separate Admin panels rather than having one main Admin Panel.

Tasks:
1) Add Signup Feature
2) Change DB Structure to store data by UID for better security

To implement these you need to know Firestore Database and React.

[2020-09-25 04:22] monizb opened #5 "Pick any features from the checklist, fix an issue or add a feature of your choice - Hacktoberfest"
Feel free to start the discussion below and suggest what you would like to take up. The smallest of the contribution will be accepted and will count for one entry to your Hacktoberfest Progress

[2020-09-25 17:46] Ruchika30 commented on #4
Hi @monizb . I would like to take this up. I know react. & would look into implementing firestore db

[2020-09-25 17:54] monizb commented on #4
Hey @Ruchika30 , really glad to know that you would like to contribute, please do note thar Firebase DB is already a part of the application, and development of signup and then changing the data to be stored on user basis is required. I highly encourage you to run the app locally to get a better feel for it. Please feel free to ask any questions :)

[2020-09-26 13:28] sushabhardy commented on #3
Hi @monizb I would like to take up this issue.

[2020-09-26 13:46] monizb commented on #3
Hello @sushabhardy , please go ahead

[2020-09-28 06:55] monizb opened #6 "Fix List View To Contain All Features Of Card View"
Right now card view has a lot of features which list view doesn't, all you need to do is copy those features to list view and make the UI look better than it is right now.

[2020-09-28 07:00] monizb opened #7 "Reduce IP Tracking Time while redirecting to the destination link"
The app takes a minimum of 5 seconds to capture the User's IP Address When Redirecting to the destination link which is not at all ideal, It will be great if you can reduce this time drastically by using an alternative npm package or a free api. Right now it uses `public-api` package from NPM

[2020-09-28 07:18] monizb opened #8 "Add more tracking options"
Right now the app tracks IPV4 address, IPV6 address and User-Agent. Add more tracking options like Country,date filters,Referrers etc. :)

[2020-09-28 13:39] alii13 commented on #5
Hey, @monizb I want to add a loader during Sign-in to show the progress to the user & also found that the user needs to click on the Sign In button to make a login request.
I want to add accessibility to the Sign In button so that the user can make a login request by simply hitting Enter through the keyboard.
This is the first time I am making any contribution to someone repo :).

[2020-09-28 14:08] monizb commented on #5
Hey @alii13 , that sounds pretty good to me, please go ahead with it :) Also welcome to the opensource world!

[2020-09-28 15:00] alii13 commented on #5
Hey, @monizb I created a pull request can you please review the code.

[2020-09-29 04:39] felizj17 commented on #6
I would like to try to do this.

[2020-09-29 04:48] monizb commented on #6
Please go ahead :)

[2020-09-29 04:48] RitikPandey1 commented on #2
@monizb I would like to take this up

[2020-09-29 05:07] monizb commented on #2
Please go ahead @RitikPandey1

[2020-09-29 05:16] monizb opened #14 "Add Protect Link With Password"
Add a new feature in each card/list where the user can check/uncheck the option to protect their link with a password, When this is enabled a password field should be presented to enter the password before redirecting to the destination link. It should track user information only if the password matches.

[2020-09-29 06:03] ampsteric commented on #6
I would like to work on this issue as well. please assign in case the issue is not resolved.

[2020-09-29 06:29] monizb commented on #6
Hey @ampsteric this issue has been assigned currently, please look into #14 and let me know if you are interested.

[2020-09-29 13:10] PranjalAgni commented on #7
I would like to work on this

[2020-09-29 16:31] monizb commented on #7
Please go ahead @PranjalAgni

[2020-09-30 03:11] Ruchika30 commented on #4
Hello @monizb . I would be able to take it up only on weekend due to certain unknown emergencies.  You can unassign the issue. I would check again on weekend if available. My apologoes

[2020-09-30 03:45] monizb commented on #4
@Ruchika30 No problem, If anyone else is interested by then I'll assign it to them or you can do it whenever you are free :)

[2020-09-30 05:16] monizb opened #21 "Add Auto Link Expiry"
The users if wanted can set an end date and time for their links so that the link automatically expires and does not let the user redirect to the destination link. The only logic needed here is that if(current timestamp < end date timestamp) -> redirect else don't and show appropriate errors accordingly

[2020-09-30 05:26] DevanshCodes commented on #21
Can I work on this? Can it be assigned?

[2020-09-30 05:35] monizb commented on #21
Yes sure, please go ahead @DevanshCodes

[2020-09-30 05:43] monizb opened #22 "Show a Dialog after each link is created"
After each link is created, right now it only creates a corresponding card related to it. Instead of this, it should show a Dialog with the created link, a button to copy the link, different ways to share the URL and a button to generate a QR code and share it as a jpg

[2020-09-30 07:33] monizb opened #23 "Add a meaningful CONTRIBUTING.md file"
To comply fully with Github's community standards a well documented CONTRBUTING.md file is required to help first time contributors to contribute to this repository. You can use this guide [here](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/setting-guidelines-for-repository-contributors) to write a good one

[2020-09-30 10:32] harshvats2000 commented on #14
Hey!
Looking forward to contribute on this one :)

[2020-09-30 10:33] swaraj961 commented on #23
Hi can i take this ?

[2020-09-30 10:56] monizb commented on #14
Hey @harshvats2000 please go ahead :)

[2020-09-30 11:29] paultech4u commented on #22
hey @monizb
Looking forward to contribute on this one.

[2020-09-30 11:31] monizb commented on #22
Hey @paultech4u please go ahead :)

[2020-09-30 14:20] OverthinkersArea commented on #23
Pls assign this task to me

[2020-09-30 14:24] monizb commented on #23
Sure @OverthinkersArea

[2020-09-30 16:28] monizb opened #25 "Add a beautiful Home Page/Front Page"
Right now the App has no Front Page/ Home Page before the users login, it would be awesome to have a beautiful front page with illustrations, features and animations.Very good Feature Issue For contributors who love front end designing :)

[2020-09-30 16:31] harshvats2000 commented on #14
I get an error "Unhandled Rejection (Error): Couldn't find your IP"
![Screenshot 2020-09-30 at 10 00 34 PM](https://user-images.githubusercontent.com/45518343/94713400-5ad01300-0368-11eb-9a5b-bd56cb2f9557.png)
Any ideas why am i getting this?

[2020-09-30 17:01] monizb commented on #14
Hey @harshvats2000 have you done any code changes after you have cloned this repository also please make sure you are connected to the internet

[2020-09-30 18:07] harshvats2000 commented on #14
I didn't made any code changes yet and yes I am connected to good internet.

On Wed, 30 Sep 2020, 22:31 Monish Basaniwal, <notifications@github.com>
wrote:

[2020-09-30 18:12] whitesource-bolt-for-github[bot] opened #34 "CVE-2020-15168 (Medium) detected in node-fetch-1.7.3.tgz - autoclosed"
## CVE-2020-15168 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-1.7.3.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js and io.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-

[2020-09-30 18:22] pilgrim-1610 commented on #25
I'd like to work on  this

[2020-09-30 18:24] monizb commented on #14
That's strange because I am unable to reproduce this issue, looks like its not able to detect your IP. Anyways this package had to be changed cause of its long wait  time and unpredictable behaviour, I have assigned this issue to someone already in #7 What you can do right now is maybe disable link tracking for the link you have created so that , the package doesn't run. Hope this will let you pro

[2020-09-30 18:25] monizb commented on #25
Please go ahead @pilgrim-1610

[2020-09-30 19:19] monizb commented on #23
#32 merged

[2020-09-30 19:19] #23 closed

[2020-09-30 19:32] pepoflex commented on #8
Please assign me this project, I would love to work on it.

[2020-09-30 19:39] monizb commented on #8
Hey @pepoflex  really glad to know that plese go ahead :)

[2020-09-30 19:45] abhinavkrin commented on #22
hey,i would  like to contribute to this issue

[2020-09-30 19:48] monizb commented on #22
Hey @abhinavkrin right now this issue has been assigned, do you want to look into other open issues?

[2020-09-30 20:18] abhinavkrin commented on #4
I would like to take this issue.

[2020-09-30 20:25] monizb commented on #4
Please go ahead @abhinavkrin

[2020-10-01 04:16] ibamibrhm commented on #14
@harshvats2000 that's because not all the connections have IPv6.

[2020-10-01 04:29] monizb commented on #14
@ibamibrhm can't agree more, why didn't I ever think of that, thanks for the help! I'll just remove the IPV6 part as it doesn't add any value to the App as well

[2020-10-01 04:39] monizb commented on #14
@harshvats2000 I have removed ipv6 tracking and now it should not throw an error to you, please first perform a git pull :)

[2020-10-01 04:41] monizb opened #41 "Add confirmation dialog before deleting a link"
**Is your feature request related to a problem? Please describe.**
Right now the created links are deleted as soon as "Delete" is clicked, this is not ideal

**Describe the solution you'd like**
Add a confirmation dialog which first asks the user if they want to delete the link or not

[2020-10-01 05:07] i-aryan commented on #41
Hey, I'd like to do it. Assign it please.

[2020-10-01 05:09] haseeb1009 commented on #41
I would like to add this confirmation dialog, can you please assign it to me?

[2020-10-01 05:10] haseeb1009 commented on #41
Oh I think I am 1 minute late to this. @i-aryan  just posted a comment when I was writing.

[2020-10-01 05:15] monizb commented on #41
Hey @i-aryan please go ahead

[2020-10-01 05:18] monizb commented on #41
@haseeb1009 there are a few more issues present, please have a look at them too :)

[2020-10-01 05:22] monizb opened #42 "Add a search bar to easily search for created links"
**Is your feature request related to a problem? Please describe.**
Right now if you have to search for your created links, you have to manually search them.

**Describe the solution you'd like**
Add a good looking search bar on top which should filter the cards as the user types into them giving them only the results they want, also please add a cross mark to clear the query and return all the car

[2020-10-01 05:25] asi309 commented on #42
I can work on this

[2020-10-01 05:29] haseeb1009 commented on #41
@monizb  Right now almost all issues are already assigned. I will check when any new issue is opened.

[2020-10-01 05:32] monizb commented on #42
Please go ahead @asi309

[2020-10-01 05:42] harshvats2000 commented on #14
sure..Thanks!

[2020-10-01 08:19] JithinAntony4 opened #47 "Develop APIs for all the tasks for easy management"
Developing API is important to get connect with other apps easily and securely.

Build minimal API for creating different links using an API key scheme (User)

[2020-10-01 09:21] nitesh9001 commented on #21
May i Know, What is exact time for expiry of link?

[2020-10-01 10:50] JithinAntony4 commented on #5
Hey @monizb I can take care of developing APIs for all the tasks with token-based authorization

[2020-10-01 11:48] monizb commented on #5
@JithinAntony4 nyes please that would be helpful :). Please first raise a feature issue for the same thanks!

[2020-10-01 11:52] monizb commented on #47
Please go ahead @JithinAntony4 , please let me know what APIs you are developing, how are you managing the API keys and what are you using to develop them before you start :)

[2020-10-01 11:56] monizb commented on #21
@nitesh9001 the expiry time is set by the admin and changes for each lin, ypu habe to present the admin a calendar and clock to choose the time, convert to timestamp and check if current timestamp is lesser than the expiry timestamp

[2020-10-01 12:33] JithinAntony4 commented on #47
@monizb I'm creating API for CRUD links as well as viewing link stats. Each Admin have a unique API key (we setup multiple API keys for single account specify the scope of operation)

[2020-10-01 14:47] #14 closed

[2020-10-01 14:50] akshayaugust21 commented on #42
I want to work on this issue. Kindly assign it to me, I will complete both of the tasks.

[2020-10-01 14:50] akshayaugust21 commented on #42
I would complete the search functionality using the fuzzy search which would work even in the cases of spelling mistakes.

[2020-10-01 15:31] monizb commented on #47
@JithinAntony4 thanks for clarifying. I suggest using Firebase Cloud Functions for an easy and seamless API development :)

[2020-10-01 16:23] JithinAntony4 commented on #47
@monizb I'm using Firebase Cloud Functions for this development

[2020-10-01 17:28] #42 closed

[2020-10-01 20:03] GrumpyMonk26 commented on #25
Has this been taken/completed??

[2020-10-01 20:56] rahul1995 opened #61 "Password Protection Option not present in Card Layout"
**Describe the bug**
In card layout, the whole feature of password-protection is not implemented.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Card Layout'.
2. See there is no lock/unlock icon for any link
3. Click 'Open' for any password-protected link.
4. Link opens up without prompting for password.

**Expected behavior**
Lock/Unlock icon should be shown and Password should be p

[2020-10-01 20:56] rahul1995 commented on #61
Could you please assign this to me?

[2020-10-01 20:59] rahul1995 opened #62 "Long-url is directly opened instead of getting redirected from our short url page from Card layout"
**Describe the bug**
If a link is opened through Card layout, the link is directly opened instead of getting redirected from short url.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Card View
2. Click on 'Open' for any link there
3. See that the long url is directly opened in new tab.

**Expected behavior**
Associated short url should be opened first which should redirect itself to l

[2020-10-01 21:00] rahul1995 commented on #62
Can you please assign me this issue?

[2020-10-02 03:56] monizb commented on #61
Hey @rahul1995 the password protection was added just yesterday monly for the list view but It has to be implemented for Card view too, If you think you want to contribute to that part please go ahead

[2020-10-02 03:56] monizb commented on #61
@rahul1995

[2020-10-02 04:00] monizb commented on #62
@rahul1995 When open is clicked we want the admin to directly go to the Long URL , we don't want to track unnecessary clicks or Ip address, hence that was done. Please reopen this issue if you have more questions :)

[2020-10-02 04:00] monizb commented on #47
That's perfect 👍👍

[2020-10-02 04:40] harshvats2000 commented on #61
Hey @monizb Let me do this one too! Can you plz assign this to me? Thanks!

[2020-10-02 12:19] vikashgaya916 commented on #3
@monizb is this issue available to be worked on? If yes, I would like to work on this.

[2020-10-02 12:30] sushabhardy commented on #3
"Revamp" word should be clarified.

[2020-10-02 13:38] vikashgaya916 commented on #5
Links are not working unless the user of the link is logged in to the app. Is it a required? If not, I would like to work on this.

[2020-10-02 13:43] vikashgaya916 opened #68 "Password being logged into the console for a password protected url."
**Describe the bug**
When any user tries to open the short url, the password gets logged into the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the short url in a browser.
2. Open Console of the browser.
3. If the link was password protected, the password get logged into the console.

**Expected behavior**
Should not be logged.

[2020-10-02 14:20] #62 closed

[2020-10-02 14:21] monizb commented on #68
Hey @vikashgaya916 , thanks for raising the issue will look into this.

[2020-10-02 14:26] #68 closed

[2020-10-02 14:30] monizb commented on #61
Hey @harshvats2000 sorry missed your comment, looks like this has been taken up already, do you mind looking at the other open PRs too? Thanks!

[2020-10-02 14:34] monizb opened #74 "Page goes blank while redirecting to destination link"
**Describe the bug**
When the short URL is accessed and the Fireshort Loader is presented, it disappears for a few seconds before redirecting to thr destination link

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the shortened URL
2. Wait for a second
3. Issue Occurs

**Expected behavior**
Show the Loader until the page is redirected

**Screenshots**
If applicable, add screenshots to

[2020-10-02 14:43] #34 closed

[2020-10-02 14:47] rahul1995 commented on #62
@monizb But in case of list view, it does all that stuff even for admin user.

[2020-10-02 14:49] vikashgaya916 commented on #2
started to work on this issue. Will post a mock-up once and then work on it.

[2020-10-02 14:51] monizb commented on #3
Well, Revamp means you have to keep the original colors used in the App, but change it in a way that makes it look much better than what it is right now, make it more intuitive and beautiful

[2020-10-02 15:00] monizb commented on #4
@abhinavkrin just checking in, are you still working on this?

[2020-10-02 15:04] abhinavkrin commented on #4
Yes i am working.
I have complete the signup functionality. Should i commit that part?

[2020-10-02 15:15] monizb commented on #25
@GrumpyMonk26 its up for grabs now, would you like to work on it?

[2020-10-02 15:33] TaarnStar commented on #74
Hi @monizb I would like to try fix this, can you assign me?

[2020-10-02 16:05] #41 closed

[2020-10-02 16:24] monizb commented on #74
@TaarnStar glad to know you want to contribute! Please go ahead

[2020-10-02 16:28] TaarnStar commented on #74
@monizb I successfuly started the project, and added one short link. However it seems I cannot reproduce the issue. When I click on the link of the short link (on Open option), it opens the short link immediately (in the new tab), I don't see the Fireshort Loader.

I don't know if I am doing something wrong so would appreciate your help in figuring out how to reproduce the issue so I can resolve i

[2020-10-02 16:31] TaarnStar commented on #74
@monizb I was able to reproduce the issue by copying the link and not clicking on the option open, I will get right on fixing the bug

[2020-10-02 17:12] GrumpyMonk26 commented on #25
@monizb yes i would like to work on it thanks :)

[2020-10-02 17:12] monizb commented on #74
@TaarnStar sure, no issues, Open function is meant to take you to the original link directly :)

[2020-10-02 17:42] TaarnStar commented on #74
@monizb I think I found the issue and I fixed it, the trouble is, when I try to go to a link that requires a password I get another error that data is undefined (when to the realPassword gets assigned data.password) so I cannot test it properly (the console error is there regardless if I change anything or just start the default app), also I looked into the pull request [#46](https://github.com/mo

[2020-10-02 17:45] rahul1995 commented on #61
@monizb Can I increase width of the card as the lock icon doesn't have any room for it right now?

[2020-10-02 17:47] monizb commented on #74
@TaarnStar the #46 features were merged into master and I had fixed up the UI to look better,maybe that's the reason you find it different, please do make sure you are upto date with the master branch because there are a lot of PRs being merged right now.Also please raise a issue with appropriate screenshots and error and I will help you out with it

[2020-10-02 17:50] monizb commented on #61
Yes sure @rahul1995 whatever looks good should be fine, but please make sure the icon changes based on protected or not like in the list view

[2020-10-02 18:18] TaarnStar commented on #74
@monizb I was able to fix and test the issue. In short the problem I had was that my short link had spaces in it's name so that's why there was error in console. Do you think that is something that should be fixed (maybe by not allowing to name a short link with spaces)? If yes I will open the issue (and if it is ok will start working on the fix too).

I made the [PR](https://github.com/monizb/Fir

[2020-10-02 18:50] TaarnStar opened #80 "Adding space as a short url breaks the app"
**Describe the bug**
We are able to create the short links with spaces in it, but if we create that kind of short link and try to go to the link we shortened we get a console error

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the button to create new short link
2. As the name of the link (in Custom URL) we put text with at least one space (for example _test space_
3. Click on but

[2020-10-02 18:50] TaarnStar commented on #80
@monizb Issue opened, when you have the time you can assign me

[2020-10-02 18:57] abhinavkrin commented on #4
Hey, I have added the sign-up functionality with some other improvements. I have created the pull request. Could you go through it once?

[2020-10-02 20:23] vikashgaya916 commented on #2
<img width="1426" alt="Login-Page" src="https://user-images.githubusercontent.com/62158550/94966558-19cc3000-051b-11eb-92a5-d67449b8ce9a.png">

@monizb I came up with this simple design. Let me know your views.

[2020-10-02 23:22] abhinavkrin opened #84 "Clicking Hits does nothing in list view."
**Describe the bug**
Clicking Hits does nothing in list view.

**Expected behavior**
Clicking Hits should open dialog that shows tracking of the curl.

[2020-10-03 03:06] monizb commented on #84
Hey @abhinavkrin thanks for raising the issue, this has been raised already on #6 and is being worked on :)

[2020-10-03 03:08] monizb commented on #80
@TaarnStar thanks for the issue! I'm assigning you to it :)

[2020-10-03 03:35] monizb commented on #84
@abhinavkrin I was wondering if you want to join in as a collaborator and help me review, merge and decline PRs since its becoming kind of hectic right now.

[2020-10-03 04:24] niyasmhdth commented on #25
@GrumpyMonk26 can I work on the animation? I have been doing custom animation using after effects & Lottie animations, I thought of taking up this task, but I guess now its been already assigned. @monizb can multiple people work on the same task?

[2020-10-03 04:51] monizb commented on #25
@GrumpyMonk26 please go ahead

[2020-10-03 04:52] monizb commented on #25
Hey @niyasmhdth would you be interested in making the login page even more beautiful and adding meaningful animations to it?

[2020-10-03 05:00] #74 closed

[2020-10-03 05:44] monizb commented on #6
@felizj17 are you stll on this?

[2020-10-03 05:52] rahul1995 opened #93 ""Open" button behavior different across views"
**Describe the bug**
In List view, if admin clicks on "Open", link is opened through short link redirect, which also logs the tracking detail as well. But in Card view, it directly opens it without any tracking logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'List View'
2. Click on 'Open' for a link which is being tracked.
3. See the hits count incremented.
4. Do the same in 'Car

[2020-10-03 05:54] niyasmhdth commented on #25
@monizb yes I would love to do that part.

[2020-10-03 05:55] ArpitaGanatra commented on #4
Is this issue still open?
If yes, what are the problems faced?

[2020-10-03 05:56] rahul1995 commented on #61
Fixed with PR https://github.com/monizb/FireShort/pull/81

[2020-10-03 05:56] #61 closed

[2020-10-03 06:00] monizb commented on #93
@rahul1995 thanks for pointing that out, ideally it should open the long URL just like the Card Layout, this should be an easy fix, let me know if you are interested.

[2020-10-03 06:13] #93 closed

[2020-10-03 06:20] monizb commented on #22
@paultech4u are you still on this?

[2020-10-03 06:23] monizb opened #98 "Insecure Password Storage For Protected Links - autoclosed - autoclosed"
Hey @monizb, As I was working with the admin panel. I found out that the way the password is checked is insecure. The document has read access set to "public". And hence the password is exposed to the public. Also, once a password is set I could not find a way to remove the password.

Please look into the matter.
A solution would be to set a flag called "isProtected" set to true and storing the pa

[2020-10-03 06:40] niyasmhdth commented on #25
@monizb can I start working on it? Revamp the login UI, with some animations

[2020-10-03 06:43] Ayush-Mahajan commented on #98
Hi @monizb  I would like to work on this.

[2020-10-03 06:48] monizb commented on #25
Yes please, also please raise an issue for the same, I will tell you some changes to be made and you can go ahead after that :)

[2020-10-03 06:49] monizb commented on #98
Sure please go ahead @Ayush-Mahajan ,please do follow the suggestion provided and make the security rules strong to avoid any vulenrability

[2020-10-03 06:54] niyasmhdth opened #99 "Revamp Login UI"
Revamp Login UI to address changes and add animations

[2020-10-03 06:56] niyasmhdth commented on #25
@monizb  create a new feature issue, Revamp Login UI #99

[2020-10-03 07:02] monizb commented on #99
@niyasmhdth thanks for raising the issue, these are the changes required:

1) Right now the login page looks good, but It would be much better if it used the entire space on the page and if it looked like a proper split login screen
![example](https://csform.com/wp-content/uploads/2018/04/Bank-login-panel.jpg)

2) Add a better background image, right now the left part of login screen has no backgr

[2020-10-03 08:49] niyasmhdth commented on #99
@monizb OK

[2020-10-03 10:14] anshulporwal26 opened #101 "Request for Signup Page"
**Is your feature request related to a problem? Please describe.**
I see there's a login screen, but no signup page. How does a user sign ups to this platform?

**Describe the solution you'd like**
I'd like to create a signup page and persist user data on localStorage on both login and signup.

**Describe alternatives you've considered**
-

**Additional context**
-

[2020-10-03 10:22] monizb commented on #101
@anshulporwal26 thanks for the issue, although this has already been worked upon and ready to be merged :)

[2020-10-03 10:44] niyasmhdth commented on #99
@monizb please add the hacktoberfest label

[2020-10-03 12:02] #4 closed

[2020-10-03 13:48] abhinavkrin commented on #47
To deploy Firebase cloud functions billing needs to be enabled.

[2020-10-03 13:48] monizb commented on #101
Fixed with #79

[2020-10-03 13:48] #101 closed

[2020-10-03 13:49] monizb commented on #98
@Ayush-Mahajan  sorry for the accidental close

[2020-10-03 13:51] monizb commented on #99
@niyasmhdth which hactober label are you talking about?

[2020-10-03 13:52] JithinAntony4 commented on #47
@abhinavkrin  you can emulate Cloud Functions on locally

[2020-10-03 13:58] niyasmhdth commented on #99
@monizb is this task eligible for hacktober?

[2020-10-03 14:05] monizb commented on #99
@niyasmhdth all PRs are eligible for Hacktoberfest on this repository, labeling is not required if your PR is merged :) It would be great if you could raise the PR by today

[2020-10-03 14:06] paultech4u commented on #22
Yes,  I am almost done.

[2020-10-03 14:08] monizb commented on #22
@paultech4u  no issues :)

[2020-10-03 14:12] paultech4u commented on #22
No issues @monizb

[2020-10-03 14:19] paultech4u commented on #22
@monizb the different way to share should I  include social media sharing also

[2020-10-03 14:27] monizb commented on #22
@paultech4u yes please, also the QR code

[2020-10-03 15:03] niyasmhdth commented on #99
@monizb thanks for the update, will raise a PR today.

[2020-10-03 15:58] #84 closed

[2020-10-03 15:59] monizb commented on #80
Fixed with #100

[2020-10-03 15:59] #80 closed

[2020-10-03 16:00] monizb commented on #21
@DevanshCodes  are you still on this?

[2020-10-03 16:32] felizj17 commented on #6
yes, does clicking on hits still do nothing on list view?

[2020-10-03 16:52] monizb commented on #6
yes does nothing @felizj17

[2020-10-03 16:55] felizj17 commented on #6
alright ill see what i can do

[2020-10-03 16:59] DevanshCodes commented on #21
Hey @monizb I'm not working on it. Sorry for the trouble, this issue can be picked up by anyone else.

[2020-10-03 17:00] monizb commented on #21
@DevanshCodes cool. I think you should be more responsible about informing

[2020-10-03 17:22] niyasmhdth commented on #99
@monizb have initiated new PR for UI Revamp, Please do check

[2020-10-03 19:53] abhinavkrin opened #108 "Development Version of firebase imported in src/Component/Home.js - autoclosed"
The firebase was imported in the wrong formation Home.js
![Annotation 2020-10-04 012235](https://user-images.githubusercontent.com/15830206/95000622-2a92a980-05e0-11eb-97f1-aa27be8f3740.png)

[2020-10-04 02:52] pyplacca opened #111 "Cannot create account on Sign up page"
**Describe the bug**
I keep getting a sign up error when I attempt to create an account on the sign up page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sign up page' or click on sign up on login page.
2. Fill form.
3. Click on sign up button.
4. See error (*An unknown error occurred while signing up.*) above the sign up button.
5. Error **auth.js:204 POST https://www.googleapis.co

[2020-10-04 02:57] monizb commented on #111
@pyplacca thanks for the issue, although I am unable to reproduce this and looks like there is a problem in the way you have set up Firebase, please check the following:

1) You have created a `.env` file in the root folder with all the variables exactly mentioned in the README file
2) You have not made errors in copying the values from Firebase Console onto the .env file
3) You have enabled email

[2020-10-04 03:04] monizb commented on #108
@abhinavkrin thanks for the issue, yes this was the issue from long but I never got around fixing so maybe this should be the right time to do that, can you please confirm in which files we are importing Firebase Modules

[2020-10-04 03:16] monizb opened #112 "Add Protect Link With Password While Creating The Link"
Right now links can be protected only after creating them by clicking on the lock icon. It would be better If it could be added while creating the link itself under the activity tracking switch and if left blank it should not protect the link.

[2020-10-04 03:31] pyplacca commented on #111
Awesome!
Apparently, I was missing step 3.
Thanks @monizb

[2020-10-04 03:31] #111 closed

[2020-10-04 03:55] pyplacca commented on #112
I'd like to take a shot at it

[2020-10-04 03:56] monizb commented on #112
@pyplacca please go ahead

[2020-10-04 04:08] pyplacca commented on #112
Great! I'll try to make a PR as soon as I can

[2020-10-04 04:12] WillianRod opened #113 "Develop an analytics page"
I'm opening this issue to start developing the Analytics page as mentioned in the README of this project.

The page is already under development, and I'm using this issue to ask some questions

Here are some ideas I have in mind:
- A visualization of the total of clicks of a link
- A visualization of the total of clicks today
- Avarage of clicks per day
- A graph showing clicks p/ day

Any other i

[2020-10-04 05:15] monizb commented on #113
@WillianRod first of all thank you for our time and effort in contributing to this Repository, The page looks really clean! Here are some of my ideas:

1) Add a way to track the country of origin of each click and add to a total counter of each country and optionally show a map highlighting the countries based on how many clicks originated from them

2) Get referrer info of each click so that the

[2020-10-04 09:23] monizb commented on #108
@abhinavkrin sorry for the autoclose

[2020-10-04 09:31] abhinavkrin commented on #108
No problem. I have fixed this issue in PR #109

[2020-10-04 09:48] #108 closed

[2020-10-04 10:05] abhinavkrin commented on #2
![Screenshot_20201004_153416](https://user-images.githubusercontent.com/15830206/95012550-1b9b0e00-0657-11eb-9354-40667cb3209a.jpg)
The login page is not optimised for small screens

[2020-10-04 10:10] monizb commented on #2
@abhinavkrin yup seen that, it's getting fixed in a PR already :)

[2020-10-05 04:11] monizb opened #117 "Show a message when no links are available"
**Is your feature request related to a problem? Please describe.**
Right now when there are no links present on first login of the user, the page remains blank without any message being shown

**Describe the solution you'd like**
Add a message saying no links present with a good matching illustration indicating it and a swirly arrow pointing towards the add button on the bottom right

**Additional

[2020-10-05 04:24] prashantacharya commented on #117
HI, I'd like to contribute to this issue. Do I need some credentials (like firebase and stuff)?

[2020-10-05 04:32] monizb commented on #117
Hey, yes you will need a free Firebase account, just follow the README

[2020-10-05 13:51] prashantacharya commented on #117
@monizb hey, just to be clear, we want to show this sign just the first time user signs in the app or we would like to display this everytime the user signs in to the platform?

[2020-10-05 14:10] prashantacharya commented on #117
I'd like to propose an approach which in my opinion is better. I think showing a tooltip would be a lot better than using the arrows because I think it's difficult to point to the exact spot.

[2020-10-05 16:32] monizb commented on #117
@prashantacharya the message and the images should appear always when the user has no links associated with his account like when:
1) The user has just signed up
2) The user has not created any links
3) The user deleted all his links

Basically everytime there are no links. Also the tooltip part wouldn't be ideal, what you could do instead is in the message also add "Press the `+` icon below to ge

[2020-10-05 20:26] WillianRod commented on #113
Cool, I'll work on it

[2020-10-06 00:34] WillianRod commented on #113
To get info like country and other things you need to use some ip like [ipinfo.io](https://ipinfo.io)

`GET `https://ipinfo.io/YOUR_IP_HERE/json`

@monizb Do you mind making an API request on every click?

And what more information would you like to store?

This is what the api responds:
[code]

[2020-10-06 02:48] monizb commented on #113
@WillianRod the API call shouldn't be a problem as long as it doesn't compromise with the actual wait time before redirecting to the destination link. Also I think we should be good with just the country name and the heat map, and we could extend it to include other data points later on if required.

[2020-10-06 03:59] prashantacharya commented on #117
@monizb I'll have a look at it.

[2020-10-06 05:15] #112 closed

[2020-10-09 04:59] PranjalAgni commented on #7
Hii there can you please add `eslint` and `prettier` in the project, as it helps to keep the coding style consistent. For now I have turned my formatter off as it overrides the styles

[2020-10-09 05:43] monizb commented on #7
@PranjalAgni this repo uses Restyled to retyle the PRs and behind the hood it seems to be using Prettier already

[2020-10-09 06:55] PranjalAgni commented on #7
Okay didn't new about that so does it means Restyled will automatically restyle my changes after opening the PR

[2020-10-09 08:57] monizb commented on #7
@PranjalAgni yes you are right, when you create a PR it will mirror your PR and make another one with styled changes

[2020-10-12 17:51] WillianRod commented on #113
@monizb  Any updates at https://github.com/monizb/FireShort/pull/120 ?

[2020-10-18 12:41] TaarnStar commented on #117
Hi @monizb, is this issue still open (@prashantacharya can I help you perhaps)?

[2020-10-18 13:09] prashantacharya commented on #117
@TaarnStar sure. I've been occupied with some work lately.

[2020-10-18 16:00] TaarnStar commented on #117
@prashantacharya I have already made the showing of the message when no links are present (after loader is finished loading), I still have to put a bit of style in it. Maybe tomorrow will be finished and will send the PR

[2020-10-18 17:06] TaarnStar commented on #117
@monizb I made two versions, can you tell me which would you prefer or if I must change something before i create a PR?

![image](https://user-images.githubusercontent.com/17704741/96374748-e6bda980-1174-11eb-9fea-a72f7035eee9.png)
![image](https://user-images.githubusercontent.com/17704741/96374751-eae9c700-1174-11eb-904d-f49b42dc9381.png)

[2020-10-19 16:46] felizj17 commented on #21
Hey @monizb started working on this but I'm unsure how to continue. I made a button to edit the expiration date but I I tried to start working on the function to control the button in Admin.js but just couldn't get it right and would love some help, thanks!
![fireshort](https://user-images.githubusercontent.com/37090868/96480855-c9d2b600-1208-11eb-8299-376ad7753117.png)

[2020-10-19 16:57] monizb commented on #21
Hey feliz, just create a separate issue, and please let me know in detail what you have tried and the code you have tried to implement and the errors if any and Ill help you out :)

[2020-10-19 19:32] felizj17 opened #132 "Get a popup window dedicated to selecting a date and time for expiration"
**Describe the solution you'd like**
Get a popup window like the one used for edit link but with dropdown calendar and time selection for the expiration date and time of the link.

[2020-10-21 00:40] felizj17 commented on #132
currently have a menu to open but this input is not a date input(calendar dropdown) or a time selector. I also thought of just putting the expire link setting within the edit link tab. Thoughts @monizb.

[2020-10-21 04:14] monizb commented on #132
@felizj17 actually the calendar/time picker should be present both while creating the link and when you want to edit it, working with date-pickers across browsers is impossible until you are using an external independent package, the date picler should not allow past dates and times as well :)

[2020-10-21 04:15] monizb commented on #117
hey @TaarnStar the message looks great, jus tplease change the background image to this: https://icons8.com/illustrations/illustration/pixeltrue-search
Thanks!

[2020-10-21 15:24] mend-bolt-for-github[bot] opened #136 "CVE-2020-15256 (High) detected in object-path-0.11.4.tgz - autoclosed"
## CVE-2020-15256 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>object-path-0.11.4.tgz</b></p></summary>

<p>Access deep object properties using a path</p>
<p>Library home page: <a href="https://registry.npmjs.org/object-path/-/object-path-0.11.4.tgz">https://reg

[2020-10-21 19:42] felizj17 commented on #132
![fireshort](https://user-images.githubusercontent.com/37090868/96774410-f0812000-13b3-11eb-9fe7-f1f7a2453cc7.png)
this is how it looks now, none of the logic is in place yet

[2020-10-26 07:36] TaarnStar commented on #117
Hi @monizb, i see you merged the PR but the issues is still open. Is anything wrong with the PR and need to change anything?

[2020-10-26 08:01] monizb commented on #117
@TaarnStar sorry I had not linked the PR to the issue so it didnt close automatically, thanks again!

[2020-10-26 08:01] #117 closed

[2020-10-28 23:32] #132 closed

[2020-10-31 17:03] felizj17 opened #145 "Login page is narrowed on mobile"
**Describe the bug**
A clear and concise description of what the bug is.
when the site is accessed from an iphone, the login page is narrowed and parts are cut off
**To Reproduce**
Steps to reproduce the behavior:
1. when you start the local server visit on your phone using the ip address (e.g http://192.168.1.50:3000)
**Expected behavior**
A clear and concise description of what you expected to h

[2020-11-02 22:31] felizj17 commented on #8
Hey @pepoflex you still working on this? I'd like to help or take over if you don't have the time.

[2020-11-05 16:53] collectivecloudperu commented on #8
Right now I'm out of time brother, please continue.

[2020-12-08 16:44] #3 closed

[2020-12-08 16:44] #5 closed

[2020-12-09 07:33] #25 closed

[2020-12-09 15:47] #47 closed

[2020-12-09 15:47] #22 closed

[2020-12-09 19:07] #99 closed

[2020-12-09 19:07] #6 closed

[2020-12-10 11:08] #98 closed

[2020-12-10 11:08] #2 closed

[2020-12-15 09:43] #7 closed

[2020-12-18 21:04] #113 closed

[2021-01-06 09:39] monizb commented on #145
Hey @felizj17 sorry for the late reply, the login page will be revamped shortly to seamlessly fit across all devices :)

[2021-01-06 09:57] monizb opened #165 "Revamping the Login And Registration Screen"
As mentioned in #145 the login screen is not at all Dynamic right now and does not add to a good UI. The following changes are required:

1) Revamping the entire signup/login form with the colour scheme to present a much better looking page
2) Make the login form responsive and auto-fit across all screen size to prevent hinderance.

Please do comment here before being assigned the issue :)

[2021-01-06 10:10] monizb opened #166 "Modifying the API to honour the new Security Rules for Firestore / Adding New Features"
The initial version of Fireshort has an API which was developed by @JithinAntony4 in #67 which has not been merged yet to master due to the change in DB configurations and rules which were made to allow Fireshort to work as a stand alone application like many famous link shorteners out there. This issue addresses the following points:

1) Modifying the API to honour the most recent changes in the

[2021-01-06 10:14] monizb opened #167 "Welcome to DWOC S01 - Discussions"
Please feel free to use this issue to discuss about any of the issues, to suggest new feature/bug issues. Issues will be assgned on a first come basis. All the best!

[2021-01-06 10:20] monizb opened #168 "Implement Code Splitting Using lazy()"
Right now the app downloads about 300kb of data just to redirect to the link which reduces the speed of the app and hinders  User's experience.So it would be a very good idea to implement Code Splitting using Lazy() to remove slow load times and make it nearly negligible.

Resources:
1) https://reactjs.org/docs/code-splitting.html
2) https://web.dev/code-splitting-suspense/

[2021-01-06 14:53] Amit366 commented on #165
Heyy I would like to work on this.

[2021-01-06 14:56] monizb commented on #165
Sure please go ahaead @Amit366

[2021-01-06 14:58] monizb commented on #165
You can also find more info for this Issue Here: https://github.com/monizb/FireShort/issues/99

[2021-01-06 15:22] ayushrastogi689 commented on #168
I would like to work on this issue, I am a participant of SWoC.

[2021-01-06 16:11] monizb commented on #168
Please go ahead @ayushrastogi689

[2021-01-06 16:13] monizb opened #169 "Search Funtionality Does Not Work With List View"
**Describe the bug**
Currently the search box for the links only works in the Card View where the cards are filtered out based on the input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on Search Box
3. Click On List View
4. List doesn't get filtered

**Expected behavior**
List should be filtered to give out matching results

[2021-01-06 18:55] tharunc opened #170 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of **DWOC**. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-06 19:08] monizb commented on #170
Hey @tharunc right now we already have a welcome bot configured as you can see and we dont need another one right now.

[2021-01-06 19:08] #170 closed

[2021-01-07 05:37] avinashupadhya99 commented on #21
Hey, I want to work on this issue, can you please assign this to me?
Also, can the DWOC label be added to this if possible?

[2021-01-07 05:40] monizb commented on #21
Hey @avinashupadhya99 sure please go ahead, adding the labels now

[2021-01-07 14:05] ayushrastogi689 commented on #168
@monizb can you please tell me how to reach you. Your linkedin id?

[2021-01-08 02:31] monizb commented on #168
Hey @ayushrastogi689 you can find me on the Discord Channel on the DWOC server's "Fireshort" Channel

[2021-01-08 07:16] yashsehgal commented on #165
Hey Can I work on this issue?

[2021-01-11 19:03] avinashupadhya99 opened #174 "Password is in plain text for protecting urls after creating an url"
**Describe the bug**
After an url is created, the password modal is in plain text while adding a password to an already created url.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an url
2. Click on the lock symbol
3. The text field for adding new password should be in plain text

**Expected behavior**
The field should be a password field

**Screenshots**

![Fireshort](https://user-i

[2021-01-11 19:04] avinashupadhya99 commented on #174
I would like to work on this please.

[2021-01-11 20:07] Sloth-Panda opened #175 "Updating readme with various open-source programs like dwoc, hacktoberfest and some gifs"
Let me know if this needs to be implemented

[2021-01-13 09:00] mend-bolt-for-github[bot] opened #178 "CVE-2020-7768 (High) detected in grpc-js-1.1.7.tgz - autoclosed"
## CVE-2020-7768 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>grpc-js-1.1.7.tgz</b></p></summary>

<p>gRPC Library for Node - pure JS implementation</p>
<p>Library home page: <a href="https://registry.npmjs.org/@grpc/grpc-js/-/grpc-js-1.1.7.tgz">https://registry

[2021-01-13 09:00] mend-bolt-for-github[bot] opened #179 "CVE-2020-7789 (Medium) detected in node-notifier-5.4.3.tgz - autoclosed"
## CVE-2020-7789 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-notifier-5.4.3.tgz</b></p></summary>

<p>A Node.js module for sending notifications on native Mac, Windows (post and pre 8) and Linux (or Growl as fallback)</p>
<p>Library home page: <a href="h

[2021-01-13 09:00] mend-bolt-for-github[bot] opened #180 "CVE-2020-7765 (Medium) detected in util-0.3.2.tgz - autoclosed"
## CVE-2020-7765 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>util-0.3.2.tgz</b></p></summary>

<p>_NOTE: This is specifically tailored for Firebase JS SDK usage, if you are not a member of the Firebase team, please avoid using this package_</p>
<p>Library hom

[2021-01-13 09:00] mend-bolt-for-github[bot] opened #181 "CVE-2020-7774 (High) detected in y18n-4.0.0.tgz - autoclosed"
## CVE-2020-7774 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>y18n-4.0.0.tgz</b></p></summary>

<p>the bare-bones internationalization library used by yargs</p>
<p>Library home page: <a href="https://registry.npmjs.org/y18n/-/y18n-4.0.0.tgz">https://registry.npm

[2021-01-13 09:00] mend-bolt-for-github[bot] opened #182 "CVE-2020-7793 (High) detected in ua-parser-js-0.7.22.tgz - autoclosed"
## CVE-2020-7793 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ua-parser-js-0.7.22.tgz</b></p></summary>

<p>Lightweight JavaScript-based user-agent string parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.22.tgz

[2021-01-13 09:01] #165 closed

[2021-01-13 09:02] monizb commented on #175
@Sloth-Panda I quite didn't get you here can you please elaborate

[2021-01-13 10:14] Sloth-Panda commented on #175
Oh sorry for the last word its "gifs" and as your project has been a part of hacktoberfest and dwoc like opensource events it will be better to create an open-source section in readme and add these open-source programs images with a little description of them and for readme to look better few gifs (graphic interface format) may be used

[2021-01-13 14:02] monizb commented on #175
Hey @Sloth-Panda since already all the participants come here from these event website directly we dont really need another place here describing these events, anyways thanks for the suggestion :)

[2021-01-13 15:28] avinashupadhya99 commented on #169
Hey can I work on this? Please assign this to me

[2021-01-14 19:13] Sloth-Panda opened #183 "Implement a welcome bot"
This will basically help first timers when someone makes a pr, or raise an issue or want to contribute to ur repo

[2021-01-14 20:11] monizb commented on #183
@Sloth-Panda we already have bots doing that

[2021-01-14 20:11] #183 closed

[2021-01-15 16:10] #175 closed

[2021-01-18 06:08] ashuvssut commented on #168
I will submit my PR for this issue the same day when assigned. please assign me this issue

[2021-01-19 10:35] pranab2021 commented on #168
I will work on this issue & I will submit my PR within a day .

[2021-01-20 05:07] monizb commented on #168
@ayushrastogi689 are you still working on this or not?

[2021-01-20 05:13] pranab2021 commented on #168
sir this is a very easy task. taking more than 13days is an insane amount of time. Clearly, he is inactive. Please consider reviewing my PR.

[2021-01-20 05:15] pranab2021 commented on #168
I have done it within a day. Please consider my PR.

[2021-01-21 16:27] monizb commented on #168
@ayushrastogi689 since you aren't responding, you are being unassigned

[2021-02-15 15:43] chait04 commented on #169
Hey @monizb i would like to work on this issue

[2021-02-15 15:49] chait04 opened #197 "fix vulnerabilities in dependencies"

[2021-02-15 16:18] monizb commented on #169
Hey @chait04 please go ahead :)

[2021-02-15 17:45] chait04 commented on #169
what about this 😕
![Screenshot (65)](https://user-images.githubusercontent.com/59140343/107978918-9dc31800-6fe3-11eb-8bc7-0eed0c647d14.png)

[2021-03-07 18:08] #197 closed

[2021-03-07 18:09] #167 closed

[2021-03-11 02:01] mend-bolt-for-github[bot] opened #203 "CVE-2021-24033 (Medium) detected in react-dev-utils-10.2.1.tgz - autoclosed"
## CVE-2021-24033 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>react-dev-utils-10.2.1.tgz</b></p></summary>

<p>webpack utilities used by Create React App</p>
<p>Library home page: <a href="https://registry.npmjs.org/react-dev-utils/-/react-dev-utils-10.2.1.tg

[2021-04-06 01:29] mend-bolt-for-github[bot] opened #213 "CVE-2021-27292 (High) detected in ua-parser-js-0.7.24.tgz"
## CVE-2021-27292 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ua-parser-js-0.7.24.tgz</b></p></summary>

<p>Lightweight JavaScript-based user-agent string parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.24.tg

[2021-04-06 01:29] mend-bolt-for-github[bot] opened #214 "CVE-2021-26707 (High) detected in merge-deep-3.0.2.tgz - autoclosed"
## CVE-2021-26707 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>merge-deep-3.0.2.tgz</b></p></summary>

<p>Recursively merge values in a javascript object.</p>
<p>Library home page: <a href="https://registry.npmjs.org/merge-deep/-/merge-deep-3.0.2.tgz">https://re

[2021-04-30 02:48] mend-bolt-for-github[bot] opened #226 "CVE-2021-23364 (Medium) detected in browserslist-4.10.0.tgz - autoclosed"
## CVE-2021-23364 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>browserslist-4.10.0.tgz</b></p></summary>

<p>Share target browsers between different front-end tools, like Autoprefixer, Stylelint and babel-env-preset</p>
<p>Library home page: <a href="https://r

[2021-05-22 01:11] mend-bolt-for-github[bot] opened #239 "CVE-2021-23386 (Medium) detected in dns-packet-5.2.1.tgz - autoclosed"
## CVE-2021-23386 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>dns-packet-5.2.1.tgz</b></p></summary>

<p>An abstract-encoding compliant module for encoding / decoding DNS packets</p>
<p>Library home page: <a href="https://registry.npmjs.org/dns-packet/-/dns-p

[2021-07-23 00:59] ankitshekhawat opened #259 "Getting a cross origin error for geoip"
**Describe the bug**
Redirects are stuck at a Fireshort screen. There is a CORS error for https://freegeoip.app/. followed by a  `FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: undefined (found in field country in document shorturls/...`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a short url
2. Go to the short url
3. Open the br

[2021-07-23 05:21] monizb commented on #259
Hey @ankitshekhawat ,
Thank you for raising an issue here, although I was not able to reproduce this issue. Can you please head over to https://fbls.ml which isFireshort's hosted version and let me know if you are able to reproduce this there. Thanks!

[2021-07-27 02:15] ankitshekhawat commented on #259
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5464540/127083850-493abc93-0521-4974-9c3a-3f366abb3826.png">

Yeah, it looks my adblocker is blocking the https://freegeoip.app/ request. The moment I disable it for the URL it starts working.  I am using uBlock Origin.

[2022-01-10 02:03] mend-bolt-for-github[bot] opened #268 "CVE-2022-0122 (Medium) detected in node-forge-0.10.0.tgz - autoclosed"
## CVE-2022-0122 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.10.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="h

[2022-01-10 02:04] mend-bolt-for-github[bot] opened #269 "CVE-2021-3805 (High) detected in object-path-0.11.4.tgz - autoclosed"
## CVE-2021-3805 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>object-path-0.11.4.tgz</b></p></summary>

<p>Access deep object properties using a path</p>
<p>Library home page: <a href="https://registry.npmjs.org/object-path/-/object-path-0.11.4.tgz">https://regi

[2022-01-10 02:04] mend-bolt-for-github[bot] opened #270 "CVE-2021-23434 (High) detected in object-path-0.11.4.tgz - autoclosed"
## CVE-2021-23434 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>object-path-0.11.4.tgz</b></p></summary>

<p>Access deep object properties using a path</p>
<p>Library home page: <a href="https://registry.npmjs.org/object-path/-/object-path-0.11.4.tgz">https://reg

[2022-01-27 02:32] mend-bolt-for-github[bot] opened #271 "CVE-2020-28469 (High) detected in glob-parent-3.1.0.tgz, glob-parent-5.1.1.tgz - autoclosed"
## CVE-2020-28469 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>glob-parent-3.1.0.tgz</b>, <b>glob-parent-5.1.1.tgz</b></p></summary>
<p>

<details><summary><b>glob-parent-3.1.0.tgz</b></p></summary>

<p>Strips glob magic from a string to provide the parent dir

[2022-01-27 02:32] mend-bolt-for-github[bot] opened #272 "CVE-2022-0235 (Medium) detected in node-fetch-2.6.1.tgz - autoclosed"
## CVE-2022-0235 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-2.6.1.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-2.6.1.tgz">

[2022-01-27 02:32] mend-bolt-for-github[bot] opened #273 "WS-2022-0008 (Medium) detected in node-forge-0.10.0.tgz - autoclosed"
## WS-2022-0008 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.10.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="ht

[2022-01-27 02:32] mend-bolt-for-github[bot] opened #274 "CVE-2021-23566 (Medium) detected in nanoid-3.1.12.tgz - autoclosed"
## CVE-2021-23566 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>nanoid-3.1.12.tgz</b></p></summary>

<p>A tiny (108 bytes), secure URL-friendly unique string ID generator</p>
<p>Library home page: <a href="https://registry.npmjs.org/nanoid/-/nanoid-3.1.12.tgz">

[2022-02-21 02:07] mend-bolt-for-github[bot] opened #275 "CVE-2022-0512 (Medium) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2022-0512 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-p

[2022-02-21 02:07] mend-bolt-for-github[bot] opened #276 "CVE-2022-0686 (High) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2022-0686 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-par

[2022-02-21 02:07] mend-bolt-for-github[bot] opened #277 "CVE-2021-3664 (Medium) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2021-3664 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-p

[2022-02-21 02:07] mend-bolt-for-github[bot] opened #278 "CVE-2022-0639 (Medium) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2022-0639 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-p

[2022-02-21 02:07] mend-bolt-for-github[bot] opened #279 "CVE-2021-27515 (Medium) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2021-27515 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-

[2022-03-14 01:36] mend-bolt-for-github[bot] opened #280 "CVE-2022-0691 (High) detected in url-parse-1.4.7.tgz - autoclosed"
## CVE-2022-0691 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>url-parse-1.4.7.tgz</b></p></summary>

<p>Small footprint URL parser that works seamlessly across Node.js and browser environments</p>
<p>Library home page: <a href="https://registry.npmjs.org/url-par

[2022-03-14 01:37] mend-bolt-for-github[bot] opened #281 "CVE-2021-33502 (High) detected in multiple libraries - autoclosed"
## CVE-2021-33502 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>normalize-url-1.9.1.tgz</b>, <b>normalize-url-3.3.0.tgz</b>, <b>normalize-url-4.5.0.tgz</b></p></summary>
<p>

<details><summary><b>normalize-url-1.9.1.tgz</b></p></summary>

<p>Normalize a URL</p>

[2022-03-21 01:44] mend-bolt-for-github[bot] opened #282 "CVE-2022-24773 (Medium) detected in node-forge-0.10.0.tgz - autoclosed"
## CVE-2022-24773 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.10.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="

[2022-03-21 01:44] mend-bolt-for-github[bot] opened #283 "CVE-2022-24772 (High) detected in node-forge-0.10.0.tgz - autoclosed"
## CVE-2022-24772 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.10.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="ht

[2022-03-21 01:44] mend-bolt-for-github[bot] opened #284 "CVE-2022-24771 (High) detected in node-forge-0.10.0.tgz - autoclosed"
## CVE-2022-24771 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.10.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="ht

[2022-04-08 01:38] mend-bolt-for-github[bot] opened #285 "CVE-2022-24785 (High) detected in moment-2.29.0.tgz - autoclosed"
## CVE-2022-24785 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.29.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.29.0.tgz">https://registry.npmjs

[2022-04-15 01:40] mend-bolt-for-github[bot] opened #286 "CVE-2021-43138 (High) detected in async-2.6.3.tgz - autoclosed"
## CVE-2021-43138 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>async-2.6.3.tgz</b></p></summary>

<p>Higher-order functions and common patterns for asynchronous code</p>
<p>Library home page: <a href="https://registry.npmjs.org/async/-/async-2.6.3.tgz">https://r

[2022-05-14 01:34] mend-bolt-for-github[bot] opened #287 "CVE-2022-1650 (High) detected in eventsource-1.0.7.tgz - autoclosed"
## CVE-2022-1650 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>eventsource-1.0.7.tgz</b></p></summary>

<p>W3C compliant EventSource client for Node.js and browser (polyfill)</p>
<p>Library home page: <a href="https://registry.npmjs.org/eventsource/-/eventsource-

[2022-05-30 01:35] mend-bolt-for-github[bot] opened #288 "CVE-2022-25878 (High) detected in protobufjs-6.10.1.tgz - autoclosed"
## CVE-2022-25878 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>protobufjs-6.10.1.tgz</b></p></summary>

<p>Protocol Buffers for JavaScript (& TypeScript).</p>
<p>Library home page: <a href="https://registry.npmjs.org/protobufjs/-/protobufjs-6.10.1.tgz">https://r

[2022-06-21 01:25] mend-bolt-for-github[bot] opened #289 "CVE-2022-33987 (Medium) detected in got-9.6.0.tgz - autoclosed"
## CVE-2022-33987 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>got-9.6.0.tgz</b></p></summary>

<p>Simplified HTTP requests</p>
<p>Library home page: <a href="https://registry.npmjs.org/got/-/got-9.6.0.tgz">https://registry.npmjs.org/got/-/got-9.6.0.tgz</a></p

[2022-06-28 01:45] mend-bolt-for-github[bot] opened #290 "CVE-2021-42740 (High) detected in shell-quote-1.7.2.tgz - autoclosed"
## CVE-2021-42740 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>shell-quote-1.7.2.tgz</b></p></summary>

<p>quote and parse shell commands</p>
<p>Library home page: <a href="https://registry.npmjs.org/shell-quote/-/shell-quote-1.7.2.tgz">https://registry.npmjs.or

[2022-07-18 01:27] mend-bolt-for-github[bot] opened #291 "CVE-2022-25858 (High) detected in terser-4.8.0.tgz - autoclosed"
## CVE-2022-25858 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>terser-4.8.0.tgz</b></p></summary>

<p>JavaScript parser, mangler/compressor and beautifier toolkit for ES6+</p>
<p>Library home page: <a href="https://registry.npmjs.org/terser/-/terser-4.8.0.tgz">h

[2022-07-18 01:27] mend-bolt-for-github[bot] opened #292 "CVE-2022-31129 (High) detected in moment-2.29.0.tgz - autoclosed"
## CVE-2022-31129 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.29.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.29.0.tgz">https://registry.npmjs

[2022-07-26 01:19] mend-bolt-for-github[bot] opened #293 "CVE-2021-35065 (High) detected in glob-parent-3.1.0.tgz, glob-parent-5.1.1.tgz - autoclosed"
## CVE-2021-35065 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>glob-parent-3.1.0.tgz</b>, <b>glob-parent-5.1.1.tgz</b></p></summary>
<p>

<details><summary><b>glob-parent-3.1.0.tgz</b></p></summary>

<p>Strips glob magic from a string to provide the parent dir

[2022-09-15 01:13] mend-bolt-for-github[bot] opened #294 "WS-2020-0042 (High) detected in acorn-5.7.4.tgz"
## WS-2020-0042 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>acorn-5.7.4.tgz</b></p></summary>

<p>ECMAScript parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/acorn/-/acorn-5.7.4.tgz">https://registry.npmjs.org/acorn/-/acorn-5.7.4.tgz</a></p>

[2022-09-15 01:14] #293 closed

[2022-10-01 02:32] monizb opened #295 "[Documention] Document Deployment Steps"
**Is your feature request related to a problem? Please describe.**
There is no documentation as to how to self-deploy this project currently

**Describe the solution you'd like**
Add clear concise steps to deploy it on a static server like firebase or netlify

[2022-10-13 01:24] mend-bolt-for-github[bot] opened #298 "CVE-2022-37599 (Medium) detected in loader-utils-1.2.3.tgz, loader-utils-1.4.0.tgz - autoclosed"
## CVE-2022-37599 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>loader-utils-1.2.3.tgz</b>, <b>loader-utils-1.4.0.tgz</b></p></summary>
<p>

<details><summary><b>loader-utils-1.2.3.tgz</b></p></summary>

<p>utils for webpack loaders</p>
<p>Library home page:

[2022-10-20 01:17] mend-bolt-for-github[bot] opened #305 "CVE-2022-37601 (High) detected in loader-utils-1.2.3.tgz, loader-utils-1.4.0.tgz - autoclosed"
## CVE-2022-37601 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>loader-utils-1.2.3.tgz</b>, <b>loader-utils-1.4.0.tgz</b></p></summary>
<p>

<details><summary><b>loader-utils-1.2.3.tgz</b></p></summary>

<p>utils for webpack loaders</p>
<p>Library home page: <a

[2022-10-20 01:17] mend-bolt-for-github[bot] opened #306 "CVE-2022-3517 (High) detected in minimatch-3.0.4.tgz - autoclosed"
## CVE-2022-3517 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimatch-3.0.4.tgz</b></p></summary>

<p>a glob matcher in javascript</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimatch/-/minimatch-3.0.4.tgz">https://registry.npmjs.org/minimat

[2022-10-20 01:17] #298 closed